@using ElegantnailsstudioSystemManagement.Providers
@inherits LayoutComponentBase
@inject AuthService AuthService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<!DOCTYPE html>
<html lang="es">

<body>


    <main>
        @Body
    </main>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>

@code {
    private async Task CerrarSesion()
    {
        await AuthService.LogoutAsync();

        var authProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
      

        Navigation.NavigateTo("/login");
    }
}