@page "/"
@using ElegantnailsstudioSystemManagement.Models
@using ElegantnailsstudioSystemManagement.Services
@inject IServicioService ServicioService
@inject NavigationManager Navigation
@inject AuthStateService AuthService

<PageTitle>Elegant Nails Studio</PageTitle>


    <!-- Header Navigation -->
    <header class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">
                Elegant Nails
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#citas">Citas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pestanas">Pestañas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#servicio-uñas">Servicio de uñas</a>
                    </li>
                </ul>

                <div class="navbar-nav">
                    <a class="btn btn-outline-primary me-2" href="/registro">
                        Registrarme
                    </a>
                    <a class="btn btn-primary" href="/login">
                        Inicio sesion
                    </a>
                </div>
            </div>
        </div>
    </header>

  

@code {
    protected override void OnInitialized()
    {
        if (AuthService.IsLoggedIn)
        {
            Navigation.NavigateTo("/dashboard", true);
        }
    }

    private void RedirigirALogin()
    {
        Navigation.NavigateTo("/login");
    }
}